<head>
    <title>
        <%= locals.title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/css/error_page_design.css">
</head>

<body>
    <h1>There is no view to show
        in this route. To access
        todo list use route /todolist
    </h1>
</body>